body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  margin: 20px;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

td {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  text-align: center;
  font-size: 16px;
}

.bold {
  font-weight: bold;
}

.sudoku {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  border: 1px solid #ddd;
  background-color: #EE9CA7;
}

.cell2 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: bold;
  background-color:  #FFDDE1;
  border: 1px solid #ddd;
}

h1 {
  max-width: 485px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
}
